$black-0: #000;
$black-1: #100B00;
$black-2: #1A090D;

$white-0: #FFF;
$white-1: #F5F1ED;

$gray-1: #70798C;
$gray-5: #252323;

$red-1: #DD5955;
$red-2: #DB504A;
$red-3: #D73833;
$red-4: #CC2E28;
$red-5: #BB2A25;

$green-1: #4EF970;
$green-2: #3AF860;
$green-3: #13F640;
$green-4: #08D932;
$green-5: #06B228;

$blue-1: #5F9DD3;
$blue-2: #4F93CF;
$blue-3: #3F89CA;
$blue-4: #357FC0;
$blue-5: #3074B0;

$yellow-1: #FAE289;
$yellow-2: #F9DB6D;
$yellow-3: #F8D34F;
$yellow-4: #F5C414;
$yellow-5: #EBBA0A;

$lime-1: #9DD65C;
$lime-2: #93D24B;
$lime-3: #85CB33;
$lime-4: #7FC431;
$lime-5: #75B42D;

$gray-blue-1: #C0C2D8;
$gray-blue-2: #A2A5C5;
$gray-blue-3: #8E92B8;
$gray-blue-4: #686DA1;
$gray-blue-5: #4F527D;

$pink-dark-1: #BBA0B9;
$pink-dark-2: #AA88A8;
$pink-dark-3: #A27C9F;
$pink-dark-4: #9A7197;
$pink-dark-5: #8F668C;
